recursive-include ootd/humanparsing/modules/src *.cpp
recursive-include ootd/humanparsing/modules/src *.h
recursive-include ootd/humanparsing/modules/src *.cu
recursive-include ootd/humanparsing/modules/src *.cuh
